asgiref==3.11.0
boto3==1.40.61
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.9
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-filter==25.2
django-import-export==4.3.14
django-storages==1.14.6
djangorestframework==3.16.1
Faker==33.0.0
idna==3.11
pillow==12.0.0
python-decouple==3.8
reportlab==4.4.6
requests==2.32.5
sqlparse==0.5.5
tablib==3.9.0
tzdata==2025.3
urllib3==2.6.2
